@font-face {
    font-family: 'Genos';
    src: url('path-to-your-fonts/Genos-Regular.woff2') format('woff2'),
        url('path-to-your-fonts/Genos-Regular.woff') format('woff'),
        url('path-to-your-fonts/Genos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #3498db, #e74c3c, #27ae60, #9b59b6);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
    overflow: hidden;
    position: relative;
}

.animated-text {
    font-family: 'Genos', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.animated-line {
    display: flex;
    align-items: center;
    margin: 10px 0;
    opacity: 0;
    animation-fill-mode: forwards;
}

.text-line {
    font-size: 48px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #FF9F7F, #FFD97E, #A2D5E6, #93C6E0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.background-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200px;
    font-weight: bold;
    opacity: 0.05;
    pointer-events: none;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.project-link {
    color: #ffffff;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    opacity: 0.8;
}

.project-link:hover {
    transform: translateY(-5px);
    opacity: 1;
}

.project-link::before {
    content: attr(data-hover-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #ffffff;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-link:hover::before {
    opacity: 1;
}

.project-link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background-color: #eaff00;
    opacity: 0;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.project-link:hover::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
    color: #ddff00;
}

.download-link {
    font-size: 16px;
    font-weight: bold;
    color: #c6c5c5;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
    top: 82%;
    left: 42%;
}

.download-link:hover {
    color: #FFD700;
    transform: scale(1.05);
}

.download-link::before {
    content: "You should take me to work 😎";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.download-link:hover::before {
    opacity: 1;
}

.cube-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.cube {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 5s infinite linear;
}

.cube-face {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid #fff;
    opacity: 0.6;
}

.front {
    transform: translateZ(25px);
}

.back {
    transform: rotateY(180deg) translateZ(25px);
}

.right {
    transform: rotateY(90deg) translateZ(25px);
}

.left {
    transform: rotateY(-90deg) translateZ(25px);
}

.top {
    transform: rotateX(90deg) translateZ(25px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(25px);
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #ffffff;
    position: absolute;
    top: 142px;
    left: 55%;
    transform: translateX(-50%) rotate(305deg);
}

.arrow-3 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 82%;
    left: 15%;
    transform: translateX(-50%) rotate(180deg);
}

.arrow-4 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translateX(-50%) rotate(130deg);
}

.arrow-5 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translateX(-50%) rotate(50deg);
}

.arrow-6 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 68%;
    left: 15%;
    transform: translateX(-50%) rotate(360deg);
}

.arrow-7 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translateX(-50%) rotate(305deg);
}

.arrow-8 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translateX(-50%) rotate(240deg);
}

.arrow-2 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 64px;
    left: 510px;
    transform: translateX(-50%) rotate(50deg);
}

.arrow-js {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: 65%;
    left: 74%;
    transform: translateX(-50%) rotate(320deg);
}


.bg-text {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 9%;
    transform: translateX(-0%) rotate(0deg);
    text-align: center;
    background-image: linear-gradient(45deg, #FF9F7F, #FFD97E, #A2D5E6, #93C6E0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientTextAnimation 5s linear infinite;
}

.webgl-text {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 150px;
    left: 56%;
    transform: translateX(-0%) rotate(0deg);
    text-align: center;
    background-image: linear-gradient(45deg, #FF9F7F, #FFD97E, #A2D5E6, #93C6E0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientTextAnimation 5s linear infinite;
}

.js-text {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 67%;
    left: 75%;
    transform: translateX(-0%) rotate(0deg);
    text-align: center;
    background-image: linear-gradient(45deg, #FF9F7F, #FFD97E, #A2D5E6, #93C6E0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientTextAnimation 5s linear infinite;
}

.menue-text {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 75px;
    left: 30%;
    transform: translateX(-0%) rotate(0deg);
    text-align: center;
    background-image: linear-gradient(45deg, #FF9F7F, #FFD97E, #A2D5E6, #93C6E0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientTextAnimation 5s linear infinite;
}

@keyframes gradientAnimation {

    0%,
    100% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }
}

@keyframes gradientTextAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@keyframes textEffect {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes rotateText {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(15deg) rotateY(15deg);
    }
}

@keyframes rotateCube {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

.bg-text a,
.js-text a,
.menue-text a,
.webgl-text a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
